In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [4]:
df = pd.read_excel("2020 빅콘테스트_CJ올리브네트웍스_제공DB.xlsx",sheet_name="Sheet1")
df

,DL_YMD,DL_GD_LCLS_NM,DL_GD_LCLS_CD,CTPV_NM,CTPV_CD,CTGG_NM,CTGG_CD,HDNG_NM,HDNG_CD,INVC_CONT
0,190201,도서/음반,12,서울특별시,11,중구,14,동화동,665,16
1,190201,가구/인테리어,10,서울특별시,11,중구,14,신당동,615,4
2,190201,가구/인테리어,10,대구광역시,27,중구,11,성내1동,565,1
3,190201,도서/음반,12,대구광역시,27,중구,11,남산2동,650,6
4,190201,디지털/가전,13,대구광역시,27,수성구,26,고산3동,690,21
...,...,...,...,...,...,...,...,...,...,...
156566,200531,패션의류,19,대구광역시,27,수성구,26,범물2동,662,22
156567,200531,패션의류,19,서울특별시,11,중구,14,약수동,635,21
156568,200531,패션잡화,20,대구광역시,27,수성구,26,범물2동,662,14
156569,200531,패션잡화,20,서울특별시,11,노원구,35,상계6.7동,695,25
156570,200531,화장품/미용,21,대구광역시,27,수성구,26,수성4가동,590,27

In [5]:
df.shape

(156571, 10)

### 먼저 회사 별 데이터를 분석하기 -> 회사를 알아보기

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156571 entries, 0 to 156570
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DL_YMD         156571 non-null  int64
 1   DL_GD_LCLS_NM  156571 non-null  object
 2   DL_GD_LCLS_CD  156571 non-null  int64
 3   CTPV_NM        156571 non-null  object
 4   CTPV_CD        156571 non-null  int64
 5   CTGG_NM        156571 non-null  object
 6   CTGG_CD        156571 non-null  int64
 7   HDNG_NM        156571 non-null  object
 8   HDNG_CD        156571 non-null  int64
 9   INVC_CONT      156571 non-null  int64
dtypes: int64(6), object(4)
memory usage: 11.9+ MB

In [8]:
df.dtypes

DL_YMD            int64
DL_GD_LCLS_NM    object
DL_GD_LCLS_CD     int64
CTPV_NM          object
CTPV_CD           int64
CTGG_NM          object
CTGG_CD           int64
HDNG_NM          object
HDNG_CD           int64
INVC_CONT         int64
dtype: object

In [9]:
# 어떤 데이터가 어느곳에서 가장 유통이 많이 되는지

In [59]:
df_dlymd_df = df.groupby(df.DL_YMD.astype(str).str[0:4]).max() # astype(str) : 데이터타입을 바꾸기

In [60]:
df_dlymd_df

,DL_YMD,DL_GD_LCLS_NM,DL_GD_LCLS_CD,CTPV_NM,CTPV_CD,CTGG_NM,CTGG_CD,HDNG_NM,HDNG_CD,INVC_CONT
DL_YMD,,,,,,,,,,
1902,190228,화장품/미용,21,서울특별시,27,중구,35,회현동,720,1318
1903,190331,화장품/미용,21,서울특별시,27,중구,35,회현동,720,2208
1904,190430,화장품/미용,21,서울특별시,27,중구,35,회현동,720,1182
1905,190531,화장품/미용,21,서울특별시,27,중구,35,회현동,720,1808
2002,200229,화장품/미용,21,서울특별시,27,중구,35,회현동,720,2151
2003,200331,화장품/미용,21,서울특별시,27,중구,35,회현동,720,1629
2004,200430,화장품/미용,21,서울특별시,27,중구,35,회현동,720,1506
2005,200531,화장품/미용,21,서울특별시,27,중구,35,회현동,720,2667

In [53]:
df_dlymd_df_drop = df_dlymd_df.drop('DL_YMD',axis=1)

In [54]:
df_dlymd_df_drop

        DL_GD_LCLS_CD    CTPV_CD    CTGG_CD     HDNG_CD   INVC_CONT
DL_YMD
1902        16.113928  19.021678  23.477630  615.140724   97.979587
1903        16.080167  19.037305  23.406290  615.032692   98.090584
1904        16.074083  19.057368  23.366175  615.007272  101.519038
1905        16.077245  19.059434  23.382435  615.008512  100.807577
2002        16.080860  19.075511  23.386838  615.054431  123.173361
2003        16.071275  19.081123  23.372367  615.082050  134.762529
2004        16.091687  19.064829  23.403496  615.092605  124.284542
2005        16.061975  19.076577  23.387966  615.141336  127.469769

In [55]:
df.shape

(156571, 10)

In [ ]:
# 월별로 나눠야 하나 -> 그래봤자 8번

In [58]:
df

,DL_YMD,DL_GD_LCLS_NM,DL_GD_LCLS_CD,CTPV_NM,CTPV_CD,CTGG_NM,CTGG_CD,HDNG_NM,HDNG_CD,INVC_CONT
0,190201,도서/음반,12,서울특별시,11,중구,14,동화동,665,16
1,190201,가구/인테리어,10,서울특별시,11,중구,14,신당동,615,4
2,190201,가구/인테리어,10,대구광역시,27,중구,11,성내1동,565,1
3,190201,도서/음반,12,대구광역시,27,중구,11,남산2동,650,6
4,190201,디지털/가전,13,대구광역시,27,수성구,26,고산3동,690,21
...,...,...,...,...,...,...,...,...,...,...
156566,200531,패션의류,19,대구광역시,27,수성구,26,범물2동,662,22
156567,200531,패션의류,19,서울특별시,11,중구,14,약수동,635,21
156568,200531,패션잡화,20,대구광역시,27,수성구,26,범물2동,662,14
156569,200531,패션잡화,20,서울특별시,11,노원구,35,상계6.7동,695,25
156570,200531,화장품/미용,21,대구광역시,27,수성구,26,수성4가동,590,27